
old_paper_results/beta_est_ips.npy
old_paper_results/alpha_est_ips.npy
old_paper_figs/gr3c.pdf
old_paper_figs/gr3b.pdf
old_paper_figs/gr3a.pdf
old_paper_figs/gr2d.pdf
old_paper_figs/gr2c.pdf
old_paper_figs/gr2b.pdf
old_paper_figs/gr2a.pdf
old_paper_figs/gr1b.pdf
old_paper_figs/gr1a.pdf
old_paper_figs/.DS_Store
